<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="robots" content="noindex,nofollow,noarchive"/>
		<title>Google Maps Street View サンプル</title>

		<!--ブートストラップ読み込み -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/GmapStyleSeet.css">

		<script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAT1CHvQkiTKOdPbmJp2gOpqDIblMgzfI"></script>

		<script type="text/javascript" src="js/GmapStreetVeiw.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	    <script src='js/initSocketIO.js'></script>

	</head>
	<body>
		<div class ="row">
			<div class="col-sm-2"><!--2割bootstrapパラメータ -->
				<p>
					<button type="button" onclick=postLatLngList()>
						<img src="img/mark.gif" alt="［！］" width="20" height="20"><br>
						保存
					</button>
					<button type="button" onclick=addLatLngListItem()>
						<img src="img/mark.gif" alt="［！］" width="20" height="20"><br>
						追加
					</button>
				</p>
				<div id="pointList"></div>
				<div id="currentLatLng"></div>
			</div>
			<div class="col-sm-10"><!--10割bootstrapパラメータ -->
				<div id="mapCanvas"></div>
				<div id="mapView"></div>
			</div>
		</div>

<!--
    <script>
      var socket = io();
			
			socket.emit('message_from_client', "hello osam");

			socket.on('S_to_C_message', (msg) => {
            alert(msg);
     });
    </script>
-->
<h1> 画面右に、現在地をマークするためのボタンを登録。ストリートビュー画面にカメラの向きが「上り」「下り」を表示 </h1>
  </body>
</html>
