<!DOCTYPE html>
<html lang="ja">
  <head>
		<meta charset="UTF-8">
		<title>GSI tiles with leaflet　by osamu</title>

		<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
		<script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
		<link type="text/css" rel="/stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
		<link type="text/css" rel="stylesheet" href="css/map.css" />
  	<script type="text/javascript" src="js/test.js"></script>
	</head>

	<body>
		<h1>!!New Project --</h1>
	</body>
</html>