<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="robots" content="noindex,nofollow,noarchive"/>
		
		<!-- レスポンシブWebデザインを使うために必要なmetaタグ -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Google Maps Street View サンプル</title>

		<!--ブートストラップ読み込み -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<link rel="stylesheet" href="css/GmapStyleSeet.css">

		<script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAT1CHvQkiTKOdPbmJp2gOpqDIblMgzfI"></script>

		<script type="text/javascript" src="js/GmapStreetVeiw.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	    <script src='js/initSocketIO.js'></script>
	    <script type="text/javascript" src='js/clickFunctions.js'></script>
	</head>

	<body>
		<div class ="row">
			<div class="sidebar col-sm-3 hidden-xs"><!--2割bootstrapパラメータ -->
				<p>Sidebar</p>
					<button type="button" onclick=postLatLngListToBlob()>
						<img src="img/mark.gif" alt="［！］" width="15" height="15"><br>
						保存
					</button>
					<button type="button" onclick=addLatLngListItem()>
						<img src="img/mark.gif" alt="［！］" width="15" height="15"><br>
						追加
					</button>
					<button type="button" onclick=deleteLatLngListItem()>
						<img src="img/mark.gif" alt="［！］" width="15" height="15"><br>
						削除
					</button>
					<button type="button" onclick=sortLatLngListItem()>
						<img src="img/mark.gif" alt="［！］" width="15" height="15"><br>
						並替
					</button>
					<button type="button" onclick=fileReadLatLngList()>
						<img src="img/mark.gif" alt="［！］" width="15" height="15"><br>
						読込
					</button>
					<button type="button" onclick=reNameLatLngListItem()>
						<img src="img/mark.gif" alt="［！］" width="15" height="15"><br>
						変更
					</button>
					<button type="button" onclick=getRoute()>
						<img src="img/mark.gif" alt="［！］" width="15" height="15"><br>
						計測
					</button>
					<input type="file" id="readFile">
				</p>
				<div id="pointList" class="latLangList">
					<ul id="ulList">'
					</ul>
				</div>
				<div id="currentLatLng"></div>
			</div>
			<div class="col-sm-9 col-sm-offset-3"><!--10割bootstrapパラメータ -->
				<div id="mapCanvas"></div>
				<div id="mapView"></div>
			</div>
		</div>
<h6> 画面右に、現在地をマークするためのボタンを登録。ストリートビュー画面にカメラの向きが「上り」「下り」を表示 </h6>
  </body>
</html>
