<!DOCTYPE html>
<html lang="ja">
  <head>
		<meta charset="UTF-8">
		<title>GSI tiles with leaflet　by osamu</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="css/map.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
  </head>
  <body>
		<table border="1">
			<tr>
				<td>
					<!-- データスクロール-->
					<div style="height:300px; width:350px; overflow-y:scroll;">
						<table border="2">
							<thead>
    							<tr><th class="Lat">緯度</th><th class="Lng">経度</th></tr>
							</thead>
							<tbody id="dataRange">
								<tr><td class="Lat">123</td><td class="Lng">987</td></tr>
								<tr><td class="Lat">123</td><td class="Lng">987</td></tr>
							<tbody>
						</table>
					</div>
				</td>
				<td>
				    <div id="map"></div>
				</td>
			</tr>
		</table>


    <script src='js/initMap.js'></script>

  </body>
</html>
