/*
 ==============↓ここから=============
Cf:Bootstrap3でスクロール可能なサイドバーがある2カラムレイアウトを作成する
https://kuroeveryday.blogspot.jp/2016/10/scrollable-sidbar-using-bootstrap.html
特にスクロールバー要素などの設定があるわけではない。自動的にスクロールバーがでる？
*/

.sidebar{
	display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto
  }
}
/*
 ==============↑ここまで=============
*/
/* ↓ 訪問済みリンクの色を変えない 。効かない( ;∀;)
.mapPoint:hover {
　color : #2040FF;
}
*/

.cmdButton{
 	margin : 0px ;
    padding : 0px ;
}

.sidebar {
	font-size: 12px;
}

#mapCanvas {
	height: 300px;
}
#mapView {
	height: 300px;
}
.mapPoint {
	padding: 10px 10px;
	border-bottom: 1px solid #CCC;
	margin: 0px 2px;
	color = 'red';
}
.mapPoint:hover {
	background-color: #eee;
}

#currentLatLng{
	margin-top: 20px;
	padding-left: 10px;
}
